# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
!src/main/resources/logback-spring.xml

# Configurações sensíveis
**/application-local.properties
**/application-secret.properties
*.keystore
*.jks

# Docker
docker-data/